html {
    background-color: #393939;
    color: #e9e6e6;
}
cdbl-activity .comment code, cdbl-activity .comment pre {
    background-color: #ececec;
    border-radius: 4px;
    color: black;
}

div#cx-suggestions-wrapper {
    min-width: 424px;
    max-height: 620px;
    overflow: auto;
    width: 424px;
    margin-bottom: 44px;
}
.cx-suggestions {
    background-color: #d7d7d7;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    color: #0a0a0a;
}
.cx-header {
    background: darkgray;
    color: #09554a;
    padding: 2px;
    margin: 10px;
    text-align: center;
}
div#cx-toolbar {
    background: darkgray;
    color: white;
    margin: 10px;
    position: fixed;
    bottom: 0px;
    width: 92%;
}
div#cx-toolbar button {
    width: 90px;
    height: 26px;
    margin: 4px;
}
button#cx-paste {
    width: 120px;
}
